// This file contains ONLY your custom classes that should override Bootstrap.

.btn-custom-primary {
  color: color-contrast($primary); 
  background-color: $primary;
  border-color: $primary;
  border-radius: 8px;
  
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  font-weight: 500;

  &:hover {
    color: color-contrast($primary);
    background-color: darken($primary, 7.5%);
    border-color: darken($primary, 10%);
  }

  &:active {
    color: color-contrast($primary) !important;
    background-color: darken($primary, 10%) !important;
    border-color: darken($primary, 12.5%) !important;
  }
}

.btn-custom-secondary {
  color: $primary; 
  background-color: transparent;
  border-color: $primary;
  border-radius: 8px;
  
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  font-weight: 500;

  &:hover {
    color: color-contrast($primary);
    background-color: $primary;
    border-color: $primary;
  }
}

// Custom style for the switch
.form-switch-custom .form-check-input:checked {
  background-color: $primary;
  border-color: $primary;
}