/* --- STICKY FOOTER & LAYOUT --- */
.app-layout {
  display: flex;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
  background-color: #f4f7fc;
}

.main-content-area {
  flex-grow: 1;
}

/* --- NAVBAR STYLES --- */
.navbar.app-navbar {
  background-color: var(--color-primary); 
}
.navbar.app-navbar .navbar-brand,
.navbar.app-navbar .nav-link {
  color: var(--color-secondary);
}
.navbar.app-navbar .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

/* --- FOOTER STYLES --- */
footer.app-footer {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}