
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  z-index: 1020;
  
  background-color: #f8f9fa; 
  border-right: 1px solid #dee2e6; 
  transition: transform 0.3s ease-in-out;
}

.sidebar.collapsed {
  transform: translateX(-100%);
}

.sidebar .nav-link {
  color: var(--color-primary); 
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: rgba(4, 56, 115, 0.1);
}